#pbase{
    height: 100vh;
    
}

nav{
    background-color: #fff;    
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    z-index: 10;

}

.body-snb nav.active{
    background-color: transparent
}
.body-cne nav.active{
    background-color: transparent;
}
.body-bng nav.active{
    background-color: transparent;
}
.body-enf nav.active{
    background-color: transparent;
}

nav.active .logo{
    background-color: transparent;
    color:#fff;
}

nav.active #nav-icon3 span{
    background-color: #fff;
}

nav .logo{
    color: #66CC99;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 100;  
    margin-bottom: 0;
    padding-top: 10px;
}

.body-snb .logo{
    color: #66CC99
}
.body-cne .logo{
    color: #55cbe7;
}
.body-bng .logo{
    color: #666c99;
}
.body-enf .logo{
    color: #f1cf5a;
}

nav .logo span {
    font-weight: 300;
}

nav #container-fluid{
    position: relative;

}
#nav-icon3{
    cursor: pointer;    
    float:right;
    height: 26px;
    position: relative;
    right: 0;
    top: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    width: 25px;
    z-index: 100;
  }
  
#nav-icon3 span{
    background: #66CC99;
    border-radius: 9px;
    display: block;
    height: 3px;
    left: 0;
    opacity: 1;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    width: 100%;
  }

.body-snb #nav-icon3 span{
    background-color: #66CC99
}
.body-cne #nav-icon3 span{
    background-color: #55cbe7;
}
.body-bng #nav-icon3 span{
    background-color: #666c99;
}
.body-enf #nav-icon3 span{
    background-color: #f1cf5a;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 8px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 16px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    left: 50%;
    top: 10px;
    width: 0%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

  }
  
  #nav-icon3.open span:nth-child(4) {
    left: 50%;
    top: 18px;
    width: 0%;

  }

  .nav-side{
    background-color:black;
    color: white;
    height: 100vh;
    position: fixed;
    right: -100vw;
    text-align: center;
    width: 100vw;

  }
.nav-side h3, .nav-side p{
    color: #fff;
}

  .body-snb .nav-side{
    background-color: #66CC99
}
.body-cne .nav-side{
    background-color: #55cbe7;
}
.body-bng .nav-side{
    background-color: #666c99;
}
.body-enf .nav-side{
    background-color: #f1cf5a;
}


  .nav-side a{
    color: white;
    text-align: center;

  }
  


/* =======ABOVE FOLD======= */

#above-fold .container-fluid {
    height: 100%;
    padding: 0;
}

#above-fold{
    background-color: #fff;
    background-size: contain;
    height: 100%;

}

#above-fold #hero, #above-fold #form-sub{
    height: 100vh;
}

#above-fold #hero, #above-fold #form-sub .abs-cent{
    min-width:250px;
}

#above-fold #hero{
    min-height: 575px;
}

#above-fold .container{
    height: 100%;
    position: relative;

}

#above-fold h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 15px;

}

#above-fold h1.quote{
    padding-left: 100px;
}

.body-snb h1, .body-snb .form-container h3, .body-snb .form-container p{
    color: #66CC99;
}
.body-cne h1,.body-cne .form-container h3,.body-cne .form-container p{
    color: #55cbe7;
}
.body-bng h1,.body-bng .form-container h3,.body-bng .form-container p{
    color: #666c99;
}
.body-enf h1,.body-enf .form-container h3,.body-enf .form-container p{
    color: #f1cf5a;
}

#above-fold h1 span span{
    display: none;
}

#above-fold h1 span{
    font-weight: 300;
    left: 0;
    position: absolute;
}

#above-fold h3{
    font-family: 'Roboto', sans-serif;

}

#above-fold #hero .phone{
    background-image: url('../img/iphone-template.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    content: ' ';
    height: 505px;
    margin-top: 10px;
    width: 250px;

}

#above-fold #hero{
    background-color: #66CC99;
}

#above-fold #hero .phone:after{
    background-image: url(../img/pb-home.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    content: ' ';
    height: 368px;
    left: 21px;
    position: absolute;
    top: 61px;
    width: 209px;

}

#above-fold #hero .phone .phone-1{
    content: ' ';
    cursor: pointer;
    height: 127px;
    left: 35px;
    position: absolute;
    top: 128px;
    width: 85px;
    z-index: 11;
}

#above-fold #hero .phone .phone-2{
    content: ' ';
    cursor: pointer;
    height: 127px;
    left: 35px;
    position: absolute;
    top: 270px;
    width: 85px;
    z-index: 11;
}

#above-fold #hero .phone .phone-3{
    content: ' ';
    cursor: pointer;
    height: 127px;
    position: absolute;
    right: 35px;
    top: 128px;
    width: 85px;
    z-index: 11;
}

#above-fold #hero .phone .phone-4{
    content: ' ';
    cursor: pointer;
    height: 127px;
    position: absolute;
    right: 35px;
    top: 270px;
    width: 85px;
    z-index: 11;
}

.email-input input{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height:40px;
    padding: 10px;
    width: 60%;
}


.body-snb input{
    border: 1px solid #66CC99
}
.body-cne input{
    border: 1px solid #55cbe7;
}
.body-bng input{
    border: 1px solid #666c99;
}
.body-enf input{
    border: 1px solid #f1cf5a;
}

.email-input input.error{
    border: 1px solid red;
}

.email-input button{
    border: 0 solid transparent;
    border-bottom: 1px solid #66CC99;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
    float: left;
    width: 40%;
    height:40px;
}

.body-snb button{
    background-color: #66CC99;
    border-bottom: 1px solid #66CC99;
}
.body-cne button{
    background-color: #55cbe7;
    border-bottom: 1px solid #55cbe7;
}
.body-bng button{
    background-color: #666c99;
    border-bottom: 1px solid #666c99;
}
.body-enf button{
    background-color: #f1cf5a;
    border-bottom: 1px solid #f1cf5a;
}
/* =======PRODUCT====== */

#product #product-shot {
    background: url('../img/pb-mobile-mockup.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    max-height: 500px;
    min-height: 400px;

}

/* =======CONTACT====== */

#contact .abs-cent img{
    display: block;
    margin: 0 auto;
    max-width:250px;

}

#contact p{
    color: #6c6c6c;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

#contact .form-control{
    border-color: #b8b8b8;
    border-radius: 0;
    margin-top:15px;
    padding: .9rem;

}

#contact button.form-control{
    background-color: #66CC99;
    border-color: transparent;
    color: #fff;

}

/* =======FOOTER======= */

.footer{
    bottom:5px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

}

.footer ul {
    padding-left: 0;

}

.footer ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 5px;

}

.footer ul li img{
    height:25px;
    width: auto;

}

.footer ul li:nth-of-type(1) img{
    height: 29px;

}

.footer.footer-mobile a {
    color: #fdfdfd;
    font-size: 22px;
}

.footer.footer-mobile a:hover {
    color: #fff;
}

.footer.footer-desktop a {
    font-size: 22px;
}

.body-snb .footer.footer-desktop a{
    color: #66CC99;
}
.body-cne .footer.footer-desktop a{
    color: #55cbe7;
}
.body-bng .footer.footer-desktop a{
    color: #666c99;
}
.body-enf .footer.footer-desktop a{
    color: #f1cf5a;
}

/* =======HELPER======= */

.roboto{
    font-family: 'Roboto', Arial, sans-serif;

}

.abs-cent{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.pt-55{
    padding-top: 55px;

}

.white {
    color: #fff;

}

.bg-white{
    background-color:white;
}

.thin{
    font-weight: 300;

}

.transparent{
    background-color: transparent;
}

.font-60{
    font-size:60;

}

.noScroll {
    overflow: hidden;
}

::-webkit-input-placeholder {
    color: #b8b8b8 !important;
    font-weight: 300;
    text-align: center;

 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #b8b8b8 !important;
    font-weight: 300;
    text-align: center;  

 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #b8b8b8 !important;
    font-weight: 300;
    text-align: center;  

 }
 
 :-ms-input-placeholder {  
    color: #b8b8b8 !important;
    font-weight: 300;
    text-align: center; 

 }

 @media screen and (min-width:445px){

 }

 @media screen and (min-width:768px){
     
     nav { background-color: transparent;}

    nav img{
        max-width: 140px;
    
    }

    #above-fold #hero, #above-fold #form-sub{
        height: auto;
    }

    #nav-icon3 span{
        background: #fff !important;
    }

    .nav-side{
        width: 50vw;
        right: -50vw;
    }

    #above-fold h1{
        font-size: 39px;
    
    }

    #product #product-shot{
        min-height: 450px;

    }

    .noScroll {
        overflow: initial;
    }
 }

 @media screen and (min-width:992px){
     
    #above-fold h1{
        font-size: 45px;
    
    }

    #product #product-shot{
        min-height:500px;

    }

 }