.section{
    height: 100vh;
    position: relative;

}

#leaf{
    background-image: url(../img/top-right-leaf.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 20px;
    height: 60px;
    position: absolute;
    right: 10px;
    width: 60px;
    z-index: 11;

}

nav{
    background-color: #2abb9b;    
    left: 0;
    position: absolute;
    right: 0;
    z-index: 10;
    -o-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;

}

nav img{
    max-width: 150px;
    padding-bottom:10px;
    padding-top:10px;
    width: 100%;

}

nav #container-fluid{
    position: relative;

}


/* =======ABOVE FOLD======= */

#above-fold{
    background-color: #2abb9b;
    background-image: url('../img/leaf-pattern.png');
    background-size: contain;

}

#above-fold .container{
    height: 100%;
    position: relative;

}

#above-fold h1{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 300;

}


/* =======PRODUCT====== */

#product #product-shot {
    background: url('../img/pb-mobile-mockup.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    max-height: 500px;
    min-height: 400px;

}

/* =======CONTACT====== */

#contact .abs-cent img{
    display: block;
    margin: 0 auto;
    max-width:250px;

}

#contact p{
    color: #6c6c6c;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

#contact .form-control{
    border-color: #b8b8b8;
    border-radius: 0;
    margin-top:15px;
    padding: .9rem;

}

#contact button.form-control{
    background-color: #2abb9b;
    border-color: transparent;
    color: #fff;

}

/* =======FOOTER======= */

.footer{
    bottom:10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

}

.footer ul {
    padding-left: 0;

}

.footer ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 5px;

}

.footer ul li img{
    height:25px;
    width: auto;

}

.footer ul li:nth-of-type(1) img{
    height: 29px;

}

/* =======HELPER======= */

.roboto{
    font-family: 'Roboto', Arial, sans-serif;

}

.abs-cent{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.pt-55{
    padding-top: 55px;

}

.white {
    color: #fff;

}

.thin{
    font-weight: 300;

}

.font-60{
    font-size:60;

}

.transparent{
    background-color: transparent;
    
}

::-webkit-input-placeholder {
    color: #b8b8b8 !important;
    font-weight: 300;
    text-align: center;

 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #b8b8b8 !important;
    font-weight: 300;
    text-align: center;  

 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #b8b8b8 !important;
    font-weight: 300;
    text-align: center;  

 }
 
 :-ms-input-placeholder {  
    color: #b8b8b8 !important;
    font-weight: 300;
    text-align: center; 

 }

 @media screen and (min-width:445px){

 }

 @media screen and (min-width:768px){

    nav img{
        max-width: 140px;
    
    }

    #above-fold h1{
        font-size: 39px;
    
    }

    #above-fold span{
        display:block;
    
    } 

    #product #product-shot{
        min-height: 450px;

    }
 }

 @media screen and (min-width:992px){
     
    #above-fold h1{
        font-size: 53px;
    
    }

    #product #product-shot{
        min-height:500px;

    }

 }